/*
*{ 
    padding: 0;
    margin: 0;
    font-fam   
}

 


body {
    background-color: #161b33;
   
}

#container {

}

#topSection {

}

#modelSection {

}

#inputAndOutputSection {

}

#bottomSection {

}

wtf do i do here,
iike what do we use, goddeym i dont like the design part, just structure
me not very creative
alright carry me here, ill modify what u make,
or nvm ill test some shi later

ill try some js
or fix all htmls, ill do that
*/