* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    font-family:'Century';
}


header {
    height: 100vh;
    background-color: #161b33;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    position: relative;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 160px;
    font-size: 15px
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #ffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-left: 2px solid #fff;

    transition: 0.5s ease;
}

ul li a:hover {
    background-color: #ffff;
    color: #000;
}
/*
ul li.active a {
    background-color: #ffff;
    color: #000;
}
    */
    
ul li:first-child a {
    border-left: none;
} 

.title h1 {
    width: max-content;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffff;
    font-size: 400%;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #7a7878;
    font-size: 100%;
}



