* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #161b33;
    color: #ffff;
    overflow-x: hidden;
}

#master {
    display: flex;
    gap: 30px;
}

.main {
    width: 250px;
    background: #000000;
    padding: 30x 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

#menu-title, #menu-footer {
    border-bottom: 2px solid #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

ul li {
    margin: 20px 0;
    padding-left: 20px;
}

ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    border: none;
    display: block;
}

ul li.active a {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, transparent 100%);
    font-weight: bold;
    border-left: 4px solid #fff;
    padding-left: 20px;  
}

#container {
    flex: 1;
    padding: 40px;
    max-width: 1200px;
}

#topSection {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

#modelSection {
    flex: 2;
    height: 450px;
    background: #2b2b2b;
    border-radius: 12px;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#cube {
    width: 140px;
    height: 140px;
    background-color: steelblue;
    transition: transform 0.1s ease-out, ackground-color 0.3s;
    box-shadow: 0 10px 30pxrgba(0, 0, 0, 0.5);
    transform-origin: center;
}

#inputAndOutputSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#input, #output, #bottomSection {
    background: #2b2b2b;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

input[type="range"] {
    width: 100%;
    margin: 15px 0;
    cursor: pointer;
}

input[type="number"] {
    width: 80px;
    background: #161b33;
    color: #fff;
    border: 1px solid #444;
    padding: 5px;
    border-radius: 4px;
}

#resetBtn {
    padding: 10px;
    background: #4682B4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#bottomSection {
    margin-top: 30px;
}

#check {
    display: none;
}

#master {
    display: flex;
    gap: 30px;
}

@media (max-width: 900px) {
    .check-btn {
        display: block;
    }

    .main {
        position: fixed;
        left: -250px;
        transition: 0.3s;
        z-index: 999;
    }

    #check-checked ~ #mster .main {
        left: 0;
    }

    #topSection {
        flex-direction: column;
    }

    #modelSection {
        height: 300px;
        width: 100%;
    }

    #container {
        padding: 80px 20px 20px;
    }
}